Modularity/ModularitySection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Modularity" elementFormDefault="qualified" targetNamespace="urn:Modularity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="modularity" type="tns:Modularity.ModularitySectionCT" />
	<xs:complexType name="Modularity.ModularitySectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="customModules" type="tns:Modularity.ModuleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The CustomModules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Modularity.ModuleElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Modularity.ModuleElementCT">
				<xs:annotation>
					<xs:documentation>The ModuleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Modularity.ModuleElementCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="async" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Async.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
